@charset "utf-8";
$response.setContentType("text/css")
@font-face {
    font-family: 'Noto Sans regular';
    src: url(//i1.daumcdn.net/cfs.tistory/static/font/notokr-regular.woff2) format('woff2'),
    url(//i1.daumcdn.net/cfs.tistory/static/font/notokr-regular.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Noto Sans demilight';
    src: url(//i1.daumcdn.net/cfs.tistory/static/font/notokr-demilight.woff2) format('woff2'),
    url(//i1.daumcdn.net/cfs.tistory/static/font/notokr-demilight.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Noto Sans bold';
    src: url(//i1.daumcdn.net/cfs.tistory/static/font/notokr-bold.woff2) format('woff2'),
    url(//i1.daumcdn.net/cfs.tistory/static/font/notokr-bold.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}
